.numbers-letters {
    text-align: center;
    font-family: "Arial";
    font-size: 20px;
    font-weight: 900;
    color: #6C3600
} 

.blackFigure {
    text-align: center;
    font-size: 40px;
    color: black;
}

.whiteFigure {
    text-align: center;
    font-size: 40px;
    color: white; 
}