body {
    font-family: Arial; 
    font-weight: 900;
}

.container {
    width: 600px;
    margin: 0 auto;
}

.good {
    display: flex;
    align-items: center
}

td {
    border: dotted black 3px;
    text-align: center;
    width: 200px;
}

table {
    border-collapse: collapse;
}